# Задания на занятие (умеренный уровень)

Для тех, кто не уверен в своих силах, может сразу решать задачи [pythontutor](https://pythontutor.ru/).  Либо смотреть курсы типа [Курс: Д. П. Кириенко. Программирование на языке Python (школа 179 г. Москвы)](https://informatics.msk.ru/course/view.php?id=156).

In [ ]:
# Test methods 
class test:
  def assert_equals(a, b) :
    assert (a == b)

##[1. Электронные часы](https://pythontutor.ru/lessons/inout_and_arithmetic_operations/problems/electronic_watch/)


Дано число `n`. С начала суток прошло n минут. Определите, сколько часов и минут будут показывать электронные часы в этот момент. Программа должна вывести два числа: количество часов (от `0` до `23`) и количество минут (от `0` до `59`). Учтите, что число `n` может быть больше, чем количество минут в сутках.

Подсказка: 
* [Строки. Функции и методы строк](https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html)

In [ ]:
def electronic_clock(num):
    pass # Code here

In [ ]:
# Testing
test.assert_equals(electronic_clock(150), '2 30')
test.assert_equals(electronic_clock(1441), '0 1')
test.assert_equals(electronic_clock(444), '7 24')
test.assert_equals(electronic_clock(1439), '23 59')
test.assert_equals(electronic_clock(9876), '20 36')

## [2. Hello, Harry!](https://pythontutor.ru/lessons/inout_and_arithmetic_operations/problems/hello_harry/)

Напишите программу, которая приветствует пользователя, выводя слово `Hello`, введенное имя и знаки препинания по образцу:

```
Harry     ->     Hello, Harry!
```

In [ ]:
def hello(name):
    pass # Code here

In [ ]:
hello(input())

In [ ]:
# Testing
test.assert_equals(hello("Harry"), "Hello, Harry!")
test.assert_equals(hello("Mr. Potter"), "Hello, Mr. Potter!")
test.assert_equals(hello("Lord Voldemort"), "Hello, Lord Voldemort!")

## [3. Знак числа](https://pythontutor.ru/lessons/ifelse/problems/signum/)

В математике функция `sign(x)` (знак числа) определена так:

```
sign(x) = 1, если x > 0,
sign(x) = -1, если x < 0,
sign(x) = 0, если x = 0.
```

Для данного числа `x` выведите значение `sign(x)`. Эту задачу желательно решить с использованием каскадных инструкций `if... elif... else`.

In [ ]:
def sign(num):
    pass # Code here

In [ ]:
# Testing
test.assert_equals(sign(1534), 1)
test.assert_equals(sign(-42), -1)
test.assert_equals(sign(0), 0)
test.assert_equals(sign(179), 1)

## [4. Минимум из трех чисел](https://pythontutor.ru/lessons/ifelse/problems/minimum3/)

Даны три целых числа. Выведите значение наименьшего из них.

[Что такое `*args` и `**kwargs` в Python?](https://habr.com/ru/company/ruvds/blog/482464/)

In [ ]:
def min3(*args):
    pass # Code here

In [ ]:
# Testing
test.assert_equals(min3(5, 3, 7), 3)
test.assert_equals(min3(10, 30, 4), 4)
test.assert_equals(min3(-5, -3, -3), -5)
test.assert_equals(min3(50, 80, 25), 25)

## [5. Суммирование](https://www.codewars.com/kata/55d24f55d7dd296eb9000030/train/python)

Напишите программу, которая суммирует числа от 1 до num. Число всегда будет положительным целым числом больше 0.

Например:

```python
summation(2) -> 3
# 1 + 2
```

```python
summation(8) -> 36
# 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8
```

Подсказка:
* `sum` и `range`

In [ ]:
def summation(num):
    pass # Code here

In [ ]:
# Testing
test.assert_equals(summation(1), 1)
test.assert_equals(summation(8), 36)
test.assert_equals(summation(22), 253)
test.assert_equals(summation(100), 5050)
test.assert_equals(summation(213), 22791)

## [6. Лесенка](https://pythontutor.ru/lessons/for_loop/problems/ladder/)

По данному натуральному n ≤ 9 выведите лесенку из n ступенек, i-я ступенька состоит из чисел от 1 до i без пробелов.

Пример

| Входные данные | Правильный ответ |
|---|---|
| 3 | 1 <br/> 12 <br/> 123 |
| 4 | 1 <br/> 12 <br/> 123 <br/> 1234 |
| 6 | 1 <br/> 12 <br/> 123 <br/> 1234 <br/> 12345 <br/> 123456 |

In [ ]:
def stairs(num):
    pass # Code here

## [7. Количество слов](https://pythontutor.ru/lessons/str/problems/num_words/)

Дана строка, состоящая из слов, разделенных пробелами. Определите, сколько в ней слов. Используйте для решения задачи метод `count`.

In [ ]:
def count_words(sentence):
    pass # Code here

In [ ]:
# Testing
test.assert_equals(count_words("Hello world"), 2)
test.assert_equals(count_words("In the hole in the ground there lived a hobbit"), 10)
test.assert_equals(count_words("One two three four five"), 5)

## [8. Замена подстроки](https://pythontutor.ru/lessons/str/problems/replace_substring/)

Дана строка. Замените в этой строке все цифры `1` на слово `one`.

In [ ]:
def replacement_1(sentence):
    pass # Code here

In [ ]:
# Testing
test.assert_equals(replacement_1("1+1=2"), "one+one=2")
test.assert_equals(replacement_1("1111111111111111111111111111111111"), "oneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneoneone")
test.assert_equals(replacement_1("1213141516171819101"), "one2one3one4one5one6one7one8one9one0one")

## [9. Четные индексы](https://pythontutor.ru/lessons/lists/problems/even_indices/)

Выведите все элементы списка с четными индексами (то есть `A[0]`, `A[2]`, `A[4]`, ...).

In [ ]:
def even_indexes(list_nums):
    pass # Code here

In [ ]:
# Testing
test.assert_equals(even_indexes([1, 2, 3, 4, 5]), [1, 3, 5])
test.assert_equals(even_indexes([4, 5, 3, 4, 2, 3]), [4, 3, 2])
test.assert_equals(even_indexes([40, 64, -80, -98, -68, 56, 85, 87, -68, -78]), [40, -80, -68, 85, -68])

## [10. Переставить min и max](https://pythontutor.ru/lessons/lists/problems/swap_min_and_max/)

В списке все элементы различны. Поменяйте местами минимальный и максимальный элемент этого списка.

In [ ]:
def change_min_max(list_nums):
    pass # Code here

In [ ]:
# Testing
test.assert_equals(change_min_max([3, 4, 5, 2, 1]), [3, 4, 1, 2, 5])
test.assert_equals(change_min_max([2147483647, -2147483648]), [-2147483648, 2147483647])
test.assert_equals(change_min_max([10, 9, 8, 7, 6, 5, 4, 3, 2, 1]), [1, 9, 8, 7, 6, 5, 4, 3, 2, 10])

## Ответы

Ответы на [задачи](http://pythoshka.ru/p15.html).